<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <html outputDirectory="build/coverage"/>
            <text outputFile="build/coverage.txt"/>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
    <php>
        <env name="VALLET_USERNAME" value="api"/>
        <env name="VALLET_PASSWORD" value="2b810e90c7e355f8fc8d8365f4d24d865bc94dbe"/>
        <env name="VALLET_SHOPCODE" value="2298"/>
        <env name="VALLET_HASH" value="E5S5E2S2E"/>
        <env name="VALLET_CALLBACK_OK_URL" value="/vallet/callback/ok"/>
        <env name="VALLET_CALLBACK_FAIL_URL" value="/vallet/callback/fail"/>
    </php>
</phpunit>